<% include ../partials/header.ejs %>

<h1>Delete Account for <%= account_info.Fname %> <%= account_info.Lname %></h1>
<form action="./account_delete" class="col-md-4">
    <br /><input type="submit" class="btn btn-primary" />
</form>
<% include ../partials/footer.ejs %>