<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if(typeof firstname !== "undefined") { %>
Welcome, <%= firstname %>
<% } %>
<h1>CS355</h1>






