<% include partials/header %>
<form action="/companys/save/">
    <label for="name">Company Name</label> <br /><input type="text" id="name" name="name" /><br />
    <label for="address">Address</label> <br /><input type="text" id="address" name="address" /><br />
    <br /><input type="submit" />
</form>

<% include partials/footer %>