<% include partials/header %>

    <a href='http://www.cs.sonoma.edu/~haderman/'>CS355 Lab 10</a>

    <h1>User Accounts</h1>
    <a href="/accounts/?account_id=1">Account By ID</a>
    <br /><a href="/accounts/all">All Accounts</a>
    <br /><a href="/accounts/create">Create Account</a>

    <h1>Schools</h1>
    <a href="/schools/?name= stanford ">School By Name</a>
    <br /><a href="/schools/all">All Schools</a>
    <br /><a href="/schools/create">Create School</a>

    <h1>Companies</h1>
    <a href="/companys/?company_id=1">Company By ID</a>
    <br /><a href="/companys/all">All Companies</a>
    <br /><a href="/companys/create">Create Company</a>

    <h1>Views</h1>
    <a href="/companys/CompanyGPAView">CompanyGPAView</a>
    <br /><a href="/user/UserJobView">UserJobView</a>

    <h1>Skills</h1>
    <a href="/skills/?skill_id=1">Skill By Name</a>
    <br /><a href="/skills/all">All Skills</a>
    <br /><a href="/skills/create">Create Skill</a>



<% include partials/footer %>