<% include partials/header %>
<form action="/schools/save/">
    <label for="school_name">School Name</label> <br /><input type="text" id="school_name" name="school_name" /><br />
    <label for="address">Address</label> <br /><input type="text" id="address" name="address" /><br />
    <br /><input type="submit" />
</form>

<% include partials/footer %>