<% include partials/header %>
<form action="/skills/save/">
    <label for="skill_name">Skill Name</label> <br /><input type="text" id="skill_name" name="skill_name" /><br />
    <label for="Description">Description</label> <br /><input type="text" id="Description" name="Description" /><br />
    <label for="company">Company</label> <br /><input type="text" id="company" name="company" /><br />
    <br /><input type="submit" />
</form>

<% include partials/footer %>