<% include ../partials/header.ejs %>
<h1>Update address for </h1>
<form action="./saveUpdate/" class="col-md-4">

    <select id="school_name" name="school_name" class="form-control">
        <% addressResults.forEach(function(entry) { %>
        <% var school_name = entry.name %>
        <option value="<%= entry.name %>"><%= school_name %></option>
        <% }); %>
    </select>


    <br /><br /><label for="New Address">New Address</label> <br /><input type="text" id="address" name="address" /><br />
    <br /><input type="submit" class="btn btn-primary" />

</form>
<% include ../partials/footer.ejs %>